.matchup-container {
    display: flex;
    flex-direction: row;
}

.vertical-divider {
    background-color: black;
    width: .2em;
    align-self: stretch;
}

.parent-container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.week-label {
    margin-right: 10%;
    margin-left: 10%;
}

.week-buttons {
    width: 8%;
}

.matchup-recap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.matchup-recap-item {
    margin-left: .2em;
    margin-right: .2em;
}

.matchup-recap-announcer {
    font-weight: 500;
    font-size: 18px;
}