.mainpage-matchup-container {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-bottom: .5em;
    border: .5em;
    border-color: lightblue;
    border-style: ridge;
    border-radius: .3em;
}

.mainpage-league-container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 40em;
    border-radius: 2em;
    padding: 2em;
    margin: 1em;
}

.mainpage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainpage-rules-container {
    border: .3em;
    border-color: grey;
    border-style: solid;
    border-radius: .3em;
    margin: .5em;
}

.mainpage-matchup-weekannouncer {
  font-size: 20px;
}

.mainpage-rules-announcer {
    font-size: 20px;
}

.mainpage-table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}