.widgets-table-container {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: aliceblue;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}